Dictionary

In [1]:
student = {
    "name" : "Pankaj",
    "age" : "21",
    "section" : "F"
}

In [2]:
print(student)

{'name': 'Pankaj', 'age': '21', 'section': 'F'}

In [3]:
student.values()

dict_values(['Pankaj', '21', 'F'])

In [4]:
print(print("hello"))

hello
None

In [5]:
print(True+True+False)

2

In [6]:
#print = 321

In [7]:
# print(print)                  # error

In [8]:
print

In [9]:
print("Hello")

Hello

In [10]:
print = print

In [11]:
print("helo")

helo

In [12]:
student["name"]

'Pankaj'

In [15]:
student.items

In [ ]:
student.

TypeError: 'builtin_function_or_method' object is not subscriptable

In [17]:
a,b,c,d=(1,2,3,4)

In [18]:
a

1

In [23]:
a=1,2,5,5,58
print(type(a))

<class 'tuple'>

In [20]:
student["rollnum"] = "22EAIAD079"

In [21]:
student

{'name': 'Pankaj', 'age': '21', 'section': 'F', 'rollnum': '22EAIAD079'}

In [ ]:
student.update()

In [24]:
x = 5
y = 8

In [26]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

13
-3
40
0.625
5
390625
0

In [27]:
print(x==y)
print(x!=y)
print(x<=y)
print(x>=y)
print(x<y)
print(x>y)

False
True
True
False
True
False

Assignment Operator

In [28]:
x = 5
x = x + 3
x = x - 3
x = x * 3
x = x / 3
x = x % 3
x = x ** 3
x = x // 3

In [29]:
x

2.0

Bitwise Operator

In [30]:
print(x & y)
print(x | y)
print(x ^ y)

TypeError: unsupported operand type(s) for &: 'float' and 'int'

Identity operators

In [ ]:
print(x is y)
print(x is not y)

False
True
False

Membership operators

In [32]:
x in student

False

In [33]:
x in a

True

In [34]:
x not in a

False

If Else Statement

In [37]:
age = 14
if age>18:
    print("Under 18")
elif age==18:
    print("age is 18")
else:
    print("Over 18")

Over 18

For Loop

In [38]:
for i in range(10):
    print("Pankaj")

Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj
Pankaj

In [39]:
ls = [1,5,7,8,9,5,42]
for i in ls:
    print(i)

1
5
7
8
9
5
42

In [43]:
for i in student:
    print(i)
    # print(student[i])

name
age
section
rollnum

In [44]:
for i in student:
    print(i)
    print(student[i])

name
Pankaj
age
21
section
F
rollnum
22EAIAD079

In [52]:
for i in student.items():
    # print(i)
    if i=="section":
        break
    print(i)

('name', 'Pankaj')
('age', '21')
('section', 'F')
('rollnum', '22EAIAD079')

While Loop

In [53]:
count = 1
while(count<=6):
    print(count)
    count +=1

1
2
3
4
5
6